<template>
    <section id="boost">
        <b-container fluid="md">
            <h2>Boost your links today</h2>
            <a href="#shorten-link"
               class="common-btn boost-btn transition">Get Started</a>
        </b-container>
    </section>
</template>

<script>
    export default {
        name: "Boost"
    }
</script>

<style scoped>
    #boost {
        height: 250px;
        background-image: url("/img/bg-boost-desktop.svg");
        flex-direction: column;
    }

    .boost-btn-header {
        margin-top: 2rem;
    }

    .boost-btn-header:hover {
        box-shadow: inset -160px 0 0 0 #3B3054;
    }

    .boost-btn {
        margin: 20px auto 0 auto;
    }

</style>