<template>
    <footer>
        <b-container fluid="md">
            <b-row>
                <b-col cols="lg">
                    <h3 id="footer-logo">Shortly</h3>
                </b-col>
                <b-col cols="lg">

                </b-col>
                <b-col cols="lg">
                    <ul>
                        <li>
                            <h3>Features</h3>
                        </li>
                        <li>
                            <a href="#">
                                <h4 class="transition">Link Shortening</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4 class="transition">Branded Links</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4 class="transition">Analitics</h4>
                            </a>
                        </li>
                    </ul>
                </b-col>
                <b-col cols="lg">
                    <ul>
                        <li>

                            <h3>Resources</h3>

                        </li>
                        <li>
                            <a href="#">
                                <h4 class="transition">Blog</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4 class="transition">Developers</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4 class="transition">Support</h4>
                            </a>
                        </li>
                    </ul>
                </b-col>
                <b-col cols="lg">
                    <ul>
                        <li>
                            <h3>Compony</h3>
                        </li>
                        <li>
                            <a href="#">
                                <h4 class="transition">About</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4 class="transition">Our Team</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4 class="transition">Careers</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4 class="transition">Contact</h4>
                            </a>
                        </li>
                    </ul>
                </b-col>
                <b-col cols="lg">
                    <div class="d-flex justify-content-evenly social-footer">
                        <a href="#">
                            <img :src="'/img/social-icons/icon-facebook.svg'">
                        </a>
                        <a href="#">
                            <img :src="'/img/social-icons/icon-twitter.svg'">
                        </a>
                        <a href="#">
                            <img :src="'/img/social-icons/icon-pinterest.svg'">
                        </a>
                        <a href="#">
                            <img :src="'/img/social-icons/icon-instagram.svg'">
                        </a>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>
    footer {
        background-color: #232127;
        padding: 5rem;
        color: #fff;
    }

    footer ul {
        list-style-type: none;
        text-align: left;
    }

    footer li a {
        text-decoration: none;
    }

    footer li:hover a h4 {
        color: #fff;
    }

    #footer-logo {
        font-size: 27px;
        line-height: 1;
    }

    h3 {
        font-size: 18px;
        margin-bottom: 22px;
    }

    h4 {
        font-size: 16px;
        color: #BFBFBF;
    }
    @media (max-width: 768px) {
        .social-footer {
            margin-top: 2rem;
        }
    }
    @media (max-width: 1200px) {
        .social-footer a {
            margin-bottom: 1rem;
        }

        footer ul {
            padding-left: 0;
            text-align: center;
        }

        #footer-logo {
            text-align: center;
            margin-bottom: 2rem;
            margin-top: 0;
        }
    }

    @media (max-width: 1200px) and (min-width: 768px) {
        .social-footer {
            flex-direction: column;
            margin-top: 2rem;
        }
        h3{
            margin-top: 2rem;
        }

    }
</style>