<template>
    <header>
        <b-container fluid="md">
            <b-row>
                <b-col md="6" cols="12"
                       order="2"
                       order-md="1">
                    <div class="header-wrapper-txt">
                        <div class="header-text">
                            <h1>More than just shorter links</h1>
                            <p>
                                Build your brand's recognition and get detailed insights on how your links are
                                performing.
                            </p>
                            <a href="#shorten-link"
                               class="transition common-btn boost-btn-header">Get Started</a>
                        </div>
                    </div>
                </b-col>
                <b-col md="6" cols="12"
                       order="1"
                       order-md="2">
                    <div class="header-wrapper-img">
                        <img :src="'/img/header/illustration-working.svg'"
                             class="header-img">
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </header>
</template>

<script>
    export default {
        name: "Header"
    }
</script>

<style scoped>
    .header-text p {
        width: 75%;
    }

    .boost-btn-header {
        margin-top: 2rem;
    }

    .boost-btn-header:hover {
        box-shadow: inset -160px 0 0 0 #3B3054;
        color: #fff;
    }


    @media (min-width: 768px) {
        .header-img {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        .header-img {
            width: 62%;
        }

        .header-text {
            margin: 2rem auto 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .boost-btn-header {
            margin-top: 1rem;
        }

        .shorten-link {
            margin-top: 0;
            margin-bottom: 2rem;
        }

        #statistics {
            background-color: #EFF1F7;
            padding: 2rem;
        }

        .statistics-boxes:before {
            display: none;
            opacity: 0;
        }
    }
    @media (max-width: 576px) {
        .header-img {
            width: 100%;
        }
    }
</style>