<template>
    <nav>
        <b-navbar toggleable="lg"
                  type="light"
                  fixed="top">
            <b-container fluid="md">
                <b-navbar-brand href="/">
                    <img :src="'/img/header/logo.svg'"
                         class="logo-img">
                </b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                    <!-- Right aligned nav items -->
                    <b-navbar-nav>
                        <b-nav-item>
                            Features
                        </b-nav-item>
                        <b-nav-item>
                            Pricing
                        </b-nav-item>
                        <b-nav-item>
                            Resources
                        </b-nav-item>
                    </b-navbar-nav>

                    <b-navbar-nav class="ml-auto login-register">
                        <b-nav-item>
                            Login
                        </b-nav-item>
                        <b-nav-item class="sign-up-btn">
                            Sign Up
                        </b-nav-item>
                    </b-navbar-nav>

                </b-collapse>


            </b-container>
        </b-navbar>
    </nav>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>

<style scoped>
    nav {
        padding: 1.5rem;
        background-color: #fff;
    }

    .sign-up-btn {
        margin-left: 1rem;
    }

    .sign-up-btn a {
        background-color: hsl(180, 66%, 49%);
        color: #fff !important;
        text-decoration: none;
        border-radius: 25px;
        padding: .3rem 1rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        height: 100%;
        transition: .3s;
    }

    .sign-up-btn a:hover {
        box-shadow: inset -160px 0 0 0 #3b3054;
    }

    @media (max-width: 990px) {
        .navbar-collapse {
            background-color: rgb(59, 48, 84);
            border-radius: 10px;
            padding: 1rem 1rem 2rem 1rem;
            margin-top: 1rem;
        }

        .navbar-collapse .nav-link {
            color: #fff !important;
        }

        .navbar-toggler:focus,
        .navbar-toggler:active {
            box-shadow: none;
        }

        .login-register {
            position: relative;
            margin-top: 1.5rem;
        }

        .login-register:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            top: 0;
            background-color: #9E9AA7;
        }
        .login-register .nav-link{
            padding: 1.5rem;
        }
    }
</style>