<template>
    <div>
        <section id="shortly">
            <h3>Your shorten link:</h3>
            <div class="shorten-link-box">
                <span>{{originalLink}}</span>
                <div class="d-flex shorten-link-output">
                    <input :value="shortLink"
                           type="url"
                           id="shortLink"
                           readonly>
                    <button class="common-btn transition copy-btn"
                            v-bind="copyBtn"
                            @click="copyUrl">Copy

                    </button>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "Shortly",
        data() {
            return {
                shortLink: "",
                originalLink: "",
                copyBtn: ""
            }
        },
        methods: {
            copyUrl() {
                var copyText = document.getElementById("shortLink");
                copyText.select();
                copyText.setSelectionRange(0, 99999);
                document.execCommand("copy");
                var copyBtn = document.querySelector('.copy-btn');
                copyBtn.innerHTML = "Copied!";
            }
        },
        mounted() {
            window.scroll(0, 0);
            this.shortLink = this.$route.params.shortedLink;
            this.originalLink = this.$route.params.originalLink;
        }
    }
</script>

<style scoped>
    ::selection {
        background-color: #3b3054;
        color: #fff
    }

    .copy-btn {
        position: relative;
    }

    #tooltip {
        position: absolute;
        top: -2.6rem;
        right: .9rem;
        border-radius: 10px;
        background-color: hsl(180, 66%, 49%);
        color: #fff;
        padding: .3rem .5rem;
    }

    #tooltip::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #2ACFCF transparent transparent transparent;
    }

    section {
        background-color: #EFF1F7;
        padding: 7rem;
    }

    h3 {
        color: #232127;
        margin-bottom: 3rem;
    }

    .shorten-link-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        background-color: #fff;
        padding: .8rem 1.5rem;
    }

    input::placeholder {
        color: #2ACFCF;
    }

    input {
        border: transparent;
        opacity: .8;
        padding: .5rem 0;
        color: #2ACFCF;
    }

    button {
        padding: .5rem 2rem;
    }

    input, button {
        height: 2.5rem;
        border-radius: 10px;

        border: transparent;
    }

    input:focus, button:focus {
        outline: none;
        border: transparent;
    }

    input:focus {
        opacity: 1;
    }


    #shortly button:hover {
        box-shadow: inset -160px 0 0 0 #3B3054;
        color: #fff;
    }

    @media (max-width: 990px) {
        .shorten-link-box, .shorten-link-output {
            flex-direction: column;
        }

        span {
            margin-bottom: 1rem;
        }

        input, button {
            text-align: center;
            margin: 0 auto;
        }
    }

    @media (max-width: 768px) {
        section {
            padding: 5rem 0 2rem 0;
        }
    }
</style>