<template>
    <div>
        <header-page></header-page>
        <section id="statistics">
            <form @submit.prevent="submitUrl">
                <div class="shorten-link" id="shorten-link">
                    <input placeholder="Shorten a link here..."
                           v-model="url"
                           class="transition">

                    <button type="submit"
                            class="common-btn transition">
                        <b-spinner v-if="loading" small></b-spinner>
                        <span v-else>Shorten it!</span>
                    </button>
                    <span id="toast-msg" v-show="showErrorMsg"> {{errorMsg}}</span>
                </div>
            </form>
            <b-container fluid="md">
                <h2>Advanced Statistics</h2>
                <p class="top-paragraph">
                    Track how your links are performing across the web with our advanded statistics dashboard.
                </p>
                <div class="statistics-boxes">
                    <b-row>
                        <b-col lg="4" md="6" cols="12">

                            <div class="statistics-box" id="box1">
                                <div class="statistics-round-pic">
                                    <img :src="'/img/statistics/icon-brand-recognition.svg'">
                                </div>
                                <h3>Brand Recognition</h3>
                                <p>
                                    Boost your brand recognition with each click. Generic links don't mean a thing.
                                    Branded
                                    links help instill confidence in your content.
                                </p>
                            </div>

                        </b-col>
                        <b-col lg="4" md="6" cols="12">

                            <div class="statistics-box" id="box2">
                                <div class="statistics-round-pic">
                                    <img :src="'/img/statistics/icon-detailed-records.svg'">
                                </div>
                                <h3>Brand Recognition</h3>
                                <p>
                                    Boost your brand recognition with each click. Generic links don't mean a thing.
                                    Branded
                                    links help instill confidence in your content.
                                </p>
                            </div>

                        </b-col>
                        <b-col lg="4" md="6" cols="12">

                            <div class="statistics-box" id="box3">
                                <div class="statistics-round-pic">
                                    <img :src="'/img/statistics/icon-fully-customizable.svg'">
                                </div>
                                <h3>Brand Recognition</h3>
                                <p>
                                    Boost your brand recognition with each click. Generic links don't mean a thing.
                                    Branded
                                    links help instill confidence in your content.
                                </p>
                            </div>

                        </b-col>
                    </b-row>
                </div>
            </b-container>
        </section>
    </div>
</template>

<script>
    import HeaderPage from "./Header";
    import axios from 'axios'

    export default {
        name: "Statistics",
        data() {
            return {
                url: '',
                loading: false,
                errorMsg: '',
                shortLink: '',
                originalLink: '',
                showErrorMsg: false
            }
        },
        components: {
            HeaderPage
        },
        methods: {
            submitUrl() {
                this.loading = true;
                axios.post('https://api.shrtco.de/v2/shorten?url=' + this.url)
                    .then(response => {
                        if (response.data.ok === true) {
                            this.loading = false;
                            this.shortLink = response.data.result.short_link;
                            this.originalLink = response.data.result.original_link;
                            this.$router.push({
                                name: 'shortly',
                                params: {
                                    shortedLink: this.shortLink,
                                    originalLink: this.originalLink
                                }
                            })
                        } else {
                            this.loading = false;
                            this.errorMsg = 'Connection error';
                            this.showErrorMsg = true;
                            this.timeout = setTimeout(() => {
                                this.showErrorMsg = false;
                            }, 3000);
                        }
                    })
                    .catch(error => {
                        console.log(error);
                        this.loading = false;
                        this.errorMsg = 'Error in sending request';
                        this.showErrorMsg = true;
                        this.timeout = setTimeout(() => {
                            this.showErrorMsg = false;
                        }, 3000);
                    });
            },
            shortenPage() {
                this.$router.push({name: 'shortly', params: {shortedLink: 1}})
            }
        }
    }
</script>

<style scoped>
    #toast-msg {
        position: fixed;
        bottom: 2rem;
        right: 39%;
        background-color: #fff;
        color: #9E9AA7;
        z-index: 2;
        padding: .5rem 3.5rem;
        border-radius: 4px;
        border-left: 4px solid red;
    }

    #toast-msg:before {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 6px;
        left: 10px;
        content: url(/img/danger.png);
    }

    .shorten-link {
        height: 3rem;
        background-image: url("/img/shorten/bg-shorten-desktop.svg");
        border-radius: 10px;
        padding: 4rem;
        margin-top: -12rem;
        margin-bottom: 6rem;
    }

    #statistics {
        background-color: #EFF1F7;
        padding: 8rem;
    }

    #statistics .top-paragraph {
        margin: 0 auto;
        width: 42%;
    }

    #statistics h2 {
        color: #232127;
    }

    .statistics-boxes {
        position: relative;
        margin-top: 15rem;
    }

    .statistics-boxes:before {
        content: "";
        position: absolute;
        right: 0;
        top: 4rem;
        width: 100%;
        height: 7px;
        background-color: #2ACFCF;
    }

    .statistics-box {
        background-color: #fff;
        border-radius: 10px;
        padding: 2rem;
        position: relative;
    }

    .statistics-box#box2 {
        margin-top: -4rem;
    }

    .statistics-box#box1 {
        margin-top: -8rem;
    }

    .statistics-box h3,
    .statistics-box p {
        text-align: left;
    }

    .statistics-round-pic {
        border-radius: 50%;
        background-color: rgb(59, 48, 84);
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2.5rem;
        margin-top: -75px;
        margin-bottom: 35px;
    }


    .shorten-link input, .shorten-link button {
        height: 2.5rem;
        border-radius: 10px;
        padding: 1.5rem 2rem;
        border: transparent;
    }

    .shorten-link button {
        margin-left: 1rem;
    }

    .shorten-link input:focus, .shorten-link button:focus {
        outline: none;
        border: transparent;
    }

    .shorten-link input:focus {
        opacity: 1;
    }

    .shorten-link input::placeholder {
        color: #9E9AA7;
    }

    .shorten-link input {
        width: 100%;
        opacity: .8;
    }

    @media (max-width: 1200px) {
        .statistics-box#box1,
        .statistics-box#box2,
        .statistics-box#box3 {
            margin-top: 0;
            margin-bottom: 4rem;
        }

        .statistics-boxes {
            position: relative;
            margin-top: 5rem;
        }

        #statistics {
            padding: 8rem 8rem 0 8rem;
        }

    }

    @media (max-width: 990px) and (min-width: 768px) {
        .statistics-boxes:before {
            position: unset;
        }
    }

    @media (max-width: 768px) {
        .statistics-boxes:before {
            content: "";
            position: absolute;
            right: 49.2%;
            top: 4rem;
            width: 7px;
            height: 100%;
            background-color: #2ACFCF;
        }

        .shorten-link {
            margin-top: 0;
            margin-bottom: 3rem;
            flex-direction: column;
            padding: 5rem 1rem;
        }

        .shorten-link button {
            margin-left: 0;
            width: 100%;
        }

        .shorten-link input {
            margin-bottom: 1rem;
        }

        #statistics {
            padding: 3rem;
        }

        #statistics .top-paragraph {
            width: 100%;
        }

        #statistics {
            padding: 3rem 0;
        }

        .statistics-round-pic {
            margin: -75px auto 35px auto;
        }

        .statistics-box h3, .statistics-box p {
            text-align: center;
        }
    }

</style>