<template>
    <div id="app">
        <layout></layout>
    </div>
</template>

<script>
    import Layout from './Layout.vue'

    export default {
        name: 'App',
        components: {
            Layout
        }
    }
</script>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    #app {
        font-family: PoppinsRegular, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        font-size: 18px;
    }

    h1, h2, h3 {
        font-family: PoppinsBold, Arial, sans-serif;
    }


    .ml-auto {
        margin-left: auto;
    }

    .common-btn {
        background-color: hsl(180, 66%, 49%);
        color: #fff;
        text-decoration: none;
        border-radius: 25px;
        padding: 8px 20px;
        display: flex;
        justify-content: center;
        width: fit-content;
        width: -moz-max-content;
        align-items: center;
        white-space: nowrap;
    }

    .common-btn .nav-link {
        color: #fff;
    }

    .transition {
        transition: .3s;
    }

    header {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 4rem;
    }

    p {
        color: #9E9AA7;
        margin: 0;
    }


    #boost, .shorten-link {
        background-color: rgb(59, 48, 84);
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .boost-btn:hover, .shorten-link button:hover{
        box-shadow: inset -160px 0 0 0 #fff;
        color: #232127;
    }

    h2 {
        color: #fff;
    }

    .header-wrapper-txt {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
    }


    h3 {
        font-size: 18px;
        margin-bottom: 22px;
    }

    h4 {
        font-size: 16px;
        color: #BFBFBF;
    }

    @font-face {
        font-family: PoppinsBold;
        font-style: normal;
        font-weight: 700;
        src: url(/fonts/Poppins-Bold.ttf) format('truetype');
    }

    @font-face {
        font-family: PoppinsRegular;
        font-style: normal;
        font-weight: 700;
        src: url(/fonts/Poppins-Regular.ttf) format('truetype');
    }
</style>
