<template>
    <div>
        <navbar></navbar>
        <router-view></router-view>
        <boost></boost>
        <footer-page></footer-page>
    </div>
</template>

<script>
    import Navbar from './components/Navbar.vue'
    import Boost from "./components/Boost";
    import FooterPage from "./components/Footer";

    export default {
        name: "Layout",
        components: {
            Navbar,
            Boost,
            FooterPage
        }
    }
</script>

<style scoped>

</style>